name: build

on:
  push:
    branches: [ main ]
    tags: [ "*" ]
    paths-ignore: [ "README.md", "history.md", "release-notes.md" ]

  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build and/or Test
    runs-on: ${{ matrix.operating-system }}

    strategy:
      matrix:
        operating-system: [ ubuntu-latest, windows-latest ]
        lazarus-versions: [ stable, 2.0.12, 2.0.10 ]

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Install Lazarus
      uses: gcarreno/setup-lazarus@v3.0.16
      with:
        lazarus-version: ${{ matrix.lazarus-versions }}

    - name: Build the Main App (Windows)
      if: ${{ matrix.operating-system == 'windows-latest' }}
      run: lazbuild -B --bm=Release "src/testrestartapplication.lpi"

    - name: Build the Main App GTK2 (Ubuntu)
      if: ${{ matrix.operating-system == 'ubuntu-latest' }}
      run: |
        lazbuild -B --bm=Release "src/testrestartapplication.lpi"
        mv bin/testrestartapplication bin/testrestartapplication-gtk2

    - name: Build the Main App Qt5 (Ubuntu)
      if: ${{ matrix.operating-system == 'ubuntu-latest' }}
      run: |
        sudo apt install libqt5pas
        lazbuild -B --bm=Release --ws= qt5 "src/testrestartapplication.lpi"
        mv bin/testrestartapplication bin/testrestartapplication-qt5

    - name: Build the Main App (macOS)
      if: ${{ matrix.operating-system == 'macos-latest' }}
      run: lazbuild -B --bm=Release --ws=cocoa "src/testrestartapplication.lpi"

    - name: Upload binary (Windows)
      if: ${{ (matrix.operating-system == 'windows-latest')  &&  (matrix.lazarus-versions == 'stable') }}
      uses: actions/upload-artifact@v2
      with:
        name: testrestartapplication
        path: bin/testrestartapplication.exe

    - name: Upload binary (Ubuntu)
      if: ${{ (matrix.operating-system == 'ubuntu-latest')  &&  (matrix.lazarus-versions == 'stable') }}
      uses: actions/upload-artifact@v2
      with:
        name: testrestartapplication
        path: bin/testrestartapplication-*

  package-release:
    if: contains(github.ref, '/tags/')

    name: Package and create GitHub Release
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set output
      id: vars
      run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}

    - name: Download the Release binary
      uses: actions/download-artifact@v2

    - name: List files
      run: ls -alF testrestartapplication

    - name: Create release files
      run: |
        cd testrestartapplication
        chmod +x testrestartapplication-*
        zip -r testrestartapplication-${{ steps.vars.outputs.tag }}-x86_64-win64.zip testrestartapplication.exe
        tar -zcvf testrestartapplication-GTK2-${{ steps.vars.outputs.tag }}-x86_64-linux.tar.gz testrestartapplication-gtk2
        tar -zcvf testrestartapplication-Qt5-${{ steps.vars.outputs.tag }}-x86_64-linux.tar.gz testrestartapplication-qt5
    - name: Create GitHub release
      uses: softprops/action-gh-release@v1
      with:
        name: testrestartapplication ${{ steps.vars.outputs.tag }}
        body_path: release-notes.md
        files: |
          testrestartapplication/*.tar.gz
          testrestartapplication/*.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
